<strong>Obrigado por escolher o Gympoint!</strong>
<p>{{ student }}, abaixo estão as informações da sua mátricula:</p>
<p>
  Nº da matrícula: {{ registration }}<br />
  Plano: {{ plan }}<br />
  Valor/Mensal: R${{ value }}<br />
  Valor/Total: R${{ totalValue }}<br />
  Data de ínicio: {{ startDate }}<br />
  Data de término: {{ endDate }}<br />
</p>
<p>Seja muito bem vindo!</p>
